* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

#root {
	height: 78px;
	width: 150px;
	padding-bottom: 2rem;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
	font-size: 1.3em;
}

.header {
	padding: .5rem;
	border-bottom: 1px solid #bbbbbb ;
	background-color: #dbdbdb;
}


p {
	padding-top: .8rem;
	padding-left: .7rem;
	font-size: .85rem;
}



/* slider https://codepen.io/jeffpowrs/pen/yOBLXE */

.toggle-wrapper {
	position: absolute;
	top: 55%;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	width: 5rem;
	height: 2.5rem;
	font-family: sans-serif;
	font-size: 0.7rem;
	font-weight: 100;
}

.toggle {
	display: none;
}
.foux-toggle {
	position: relative;
	width: 4rem;
	height: 1.5rem;
	border-radius: 2.5rem;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #e4e4e4;
	background-color: #f7f7f7;
	transition: background-color 0.2s cubic-bezier(0.34, 0.93, 0.85, 0.91);
}
.foux-toggle:before {
	content: "";
	position: absolute;
	top: 0.2rem;
	left: 0.3125rem;
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 1.875rem;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	transition: left 0.2s cubic-bezier(0.34, 0.93, 0.85, 0.91);
}
.toggle:checked ~ .foux-toggle {
	background-color: hsl(135, 70%, 51%);
	border-color: hsl(135, 71%, 55%);
}
.toggle:checked ~ .foux-toggle:before {
	left: 2.65rem;
}
.toggle--label:before,
.toggle--label:after {
	position: absolute;
	top: -0.48rem;
	/* bottom: 1rem; */
	transition: opacity 0.4s linear;
}
.toggle--label {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 2.5rem;
	cursor: pointer;
	z-index: 10;
	letter-spacing: 0.0625rem;
}
.toggle--label:before {
	content: "On";
	right: 50%;
	left: 0;
	color: white;
	opacity: 0;
}
.toggle:checked + .toggle--label:before {
	opacity: 1;
}
.toggle--label:after {
	content: "Off";
	position: absolute;
	right: 0;
	left: 10%;
	opacity: 1;
}
.toggle:checked + .toggle--label:after {
	opacity: 0;
	transition-duration: 0.05s;
}

